[
{
  "pk": 1,
  "model": "auth.user",
  "fields": {
    "username": "admin",
    "first_name": "Crunchy",
    "last_name": "Admin",
    "is_active": true,
    "is_superuser": true,
    "is_staff": true,
    "last_login": "2014-02-13T18:42:12.516Z",
    "groups": [],
    "user_permissions": [],
    "password": "{{ admin_user_hashed_password }}",
    "email": "{{ admin_user_email }}",
    "date_joined": "2014-02-13T18:42:12.516Z"
  }
}
]
